body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

h1 {
    display: flex;
    font-size: 40px;
    justify-content: center;
    margin-top: 100px;
    color: #372b97;

}

.inputs {
    display: flex;
    justify-content: center;
    gap: 12px;
}

input {
    width: 150px;
    height: 40px;
}

.botoes {
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 10px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 25px;
    cursor: pointer;
}

p {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

#resultado {
    font-weight: bold;
    padding-left: 4px;
}